body{
  background-color:#8F2D56;
  font-family: 'Sulphur Point', sans-serif;
}

#Openingstatement {
  Background-color:#d81159;
}

#Keyskills {
  textalign:left;
}  

#Generalskills {
  background-color:#d81159;
  text-align:center;
}

#Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
    background-color: red;
}
