body{
  background-color:#8F2D56;
  font-family: 'Sulphur Point', sans-serif;
}

#Openingstatement {
  Background-color:#d81159;
}

#Generalskills {
  background-color:#d81159;
  text-align:left;
}

#
