/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #8F2D56;
}

h1 {
  font-style: italic;
  color: #FFBC42;
}

#Titlepage1 {
  background-color:#D81159;
  color: #FFBC42;
  text-align:center;
}

#Titlephoto {
  text-align:center;
  
}

.Nextpage {
  text-align:center;
}